# .env.example
## NOTE: Create a copy of this file and name it either .env.development or .env.production (these are ignored by git).
## NOTE: Place your credentials there and not here.
## NOTE: Never place your credentials in this file, since this file is not ignored by git.

# Profile (Default in application.yaml is `dev-local`. You can switch to `dev` or `prod` or other profiles here)
SPRING_PROFILE_ACTIVE=dev-local

# The following parts work for with a local openBIS installation from the infrastructure repository.
# You need to copy this file into .env.development and add write this name in the compose.yaml file in the line where you add the name of the env_file.
# OpenBIS Connection (Mandatory, no defaults available)
OPENBIS_API_URL=http://openbis-app:8080/openbis/openbis/rmi-application-server-v3.json

# OpenBIS Search Scopes (Mandatory, no defaults available)
## Space
OPENBIS_SPACE=LIEFERANTENBEWERTUNG

## Supplier
OPENBIS_SUPPLIER_PROJECT=LIEFERANTEN
OPENBIS_SUPPLIER_TYPE=LIEFERANT
OPENBIS_SUPPLIER_COLLECTION=LIEFERANTEN

## Order
OPENBIS_ORDER_PROJECT=BESTELLUNGEN
OPENBIS_ORDER_TYPE=BESTELLUNG
## Configurable.
## e.g. "BESTELLUNGEN_2026" if new collection in openBIS is created.
OPENBIS_ORDER_COLLECTION=BESTELLUNGEN

## Rating
OPENBIS_RATING_PROJECT=BEWERTUNGEN
OPENBIS_RATING_TYPE=BESTELLBEWERTUNG
## Configurable.
## e.g. "BEWERTUNGEN_2026" if new collection in openBIS is created.
OPENBIS_RATING_COLLECTION=BEWERTUNGEN
